*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
}

body{
    background-color: #FDFDFA;
}
.main-container{
    width: 1440px;
    height: 2003px;
    margin-top: 32px;
    margin-bottom: 57px;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    height: 1914px;
    width: 1440px;
    box-sizing: border-box;
}

.header{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 118px;
    width: 556px;    
}
.header-1, .header-2{
    font-family: "Iowan Old Style";
    height: 118px;
    font-size: 84px;
    font-weight: normal;
    font-weight: 400;
    line-height: 140%;
    color: #3C3030;
}
.header-1{
    width: 351px;
    text-align: right;
}
.red-dot{
    background-color: #e84848;
    width: 60.291px;
    height: 60.291px;
    border-radius: 50%;
    display: inline-block;
    margin: auto;
    margin: 5px;
}
.header-2{
    width: 144px;
    text-align: left;
}
.border{
    width: 100%;
    height: 4px;
    border: 1.75px solid #3C3030;
    border-left: none;
    border-right: none;
    margin-top: 39px;
}
.news-search{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    
}
.search{
    display: flex;
    flex-shrink: 0;
    height: 61px;
    width: 267px;
    margin: auto;
    align-items: center;
    justify-content: center;
    border: 1px solid #3C3030;
    margin-top: 50px;
    border-right: none;
}
.search-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    align-items: center;
    margin-top: 14px;
    margin-left: 8px;
    margin-bottom: 15px; 
}
.input-search{
    border: none;
    font-size: 20px;
    width: 225px;
    padding-left: 10px;
    outline: none;
    font-family: "Iowan Old Style";
}
.go-button{
    display: flex;
    align-items: center;
    padding: 18px 16px 16px 22px;
    background-color: #e84848;
    border-left: none;
     margin-top: 50px;
}
.go{
    height: 28px;
    width: 26px;
    font-size: 20px;
    font-weight: normal;
    background-color: #e84848;
    color: #FDFDFA;
    font-family: "Iowan Old Style";
    text-align: left;
}
.main-content{
    margin: auto;
    margin-top: 89px;
    margin-bottom: 89px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1387px;
    width: 910px;
}
.top-news{
    height: 28px;
    width: 100%;
    text-align: left;
    color: var(--Dark-Red, #D02424);
    font-family: "Inria Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    letter-spacing: -0.4px;
}
.news{
    display: flex;
    height: 1334px;
    width: 910px;
    align-items: flex-start;
    margin-top: 25px;
    flex-wrap: wrap;
}
.news-1, .news-3, .news-4, .news-5, .news-9 {
    height: 388px;
    width: 250px;
    box-sizing: border-box;
}
.news-2{
    height: 366px;
    width: 250px;
}
.news-6, .news-7{
    height: 344px;
    width: 250px;
}
.news-8{
    height: 322px;
    width: 250px;
}
.news-1, .news-2, .news-4, .news-5, .news-7, .news-8{
    margin-right: 80px;
}
.news-1, .news-2, .news-3, .news-4, .news-5, .news-6{
    margin-bottom: 96px;
}
.news-1-image{
    height: 120px;
    width: 250px;
}
.news-1-article, .news-3-article{
    height: 88px;
    width: 250px;
}
.news-1-article, .news-2-article, .news-3-article, .news-6-article, .news-8-article{
    margin-top: 16px;
    color: var(--Dark, #3C3030);
    font-family: "Inknut Antiqua";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    box-sizing: border-box; /* Include padding within the total width and height */
    letter-spacing: -0.72px;
}
.news-1-article-content, .news-2-article-content,.news-3-article-content, .news-4-article-content, .news-5-article-content, .news-8-article-content{
    margin-top: 16px;
    margin-bottom: 16px;
    color: var(--Dark, #3C3030);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    opacity: 0.8;
}
.complete-article{
    display: flex;
}
.full-article{
    width: 108px;
    height: 22px;
    color: var(--Dark, #3C3030);
    font-family: "Inria Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */

}
.link-article{
    height: 22px;
    width: 25px;
}
.arrow{
    text-decoration: underline;
    color:#D02424
}
.arrow a{
    margin-left: 5px;
    color: var(--Dark-Red, #D02424);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 22.4px */
    border: 2px solid #D02424; 
    border-top: none;
    border-left: none;
    border-right: none;
}
.news-2-article, .news-8-article, .news-8-article-content{
    height: 66px;
    width: 250px;
}
.news-1-article-content, .news-3-article-content, .news-2-article-content, .news-4-article-content, .news-5-article-content{
    width: 250px;
    height: 110px;
}
.news-2-image{
    height: 120px;
    width: 250px;
    object-fit: cover;
    object-position: top;
}
.news-6-article{
    height: 44px;
    width: 250px;
}
.final-border{
    height: 1px;
    width: 100%;
    background-color: #3C3030;
}
.footer{
    height: 22px;
    width: 477px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 59px;
    position: relative;
}
.news-api{
    height: 21px;
    width: 63px;
}
.org{
    height: 21px;
    width: 26px;
}
.news-api, .org{
    color: var(--Dark, #3C3030);
    font-family: "Iowan Old Style";
    font-size: 15.095px;
    font-style: normal;
    align-items: center;
    text-align: center;
    font-weight: 400;
    line-height: 140%; /* 21.133px */
}
.red-dot-footer{
    height: 8.302px;
    width: 8.302px;
    border-radius: 50%;
    background-color: #D02424; 
}
.responsibility{
    font-family: "Inria Serif";
    font-size: 16px;
    color:#3C3030;
    font-style: normal;
    font-weight: 400;
    height: 22px;
    width: 367px;
    align-items: center;
    line-height: 140%; /* 21.133px */
    padding: 0;
    margin: 0

}
.org, .responsibility {
    white-space: nowrap; /* Prevent text from wrapping */
}


/*media queries*/

@media screen and (max-width: 414px) and (max-height: 4406px) {
    .main-container {
        height: 440px; /* Adjust as needed */
        width: 414px;
        display: inline-flex;
        
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }
    .header {
        height: 50px;
        width: 241px;   
        margin-top: 29px;
    }
    .header-1 {
        height: 50px;
        width: 150px;
        font-size: 35.957px;
    }
    .red-dot {
        height: 25.8086px;
        width: 25.8086px;
    }
    .header-2 {
        height: 50px;
        width: 62px;
        font-size: 35.957px;   
    }
    .border {
        width: 414px;
        height: 1px;
        margin-top: 20px;
    }
    .search {
        margin-top: 60px;
        height: 61px;
        width: 303px;
    }
    .input-search {
        height: 28px;
        width: 59px;
    }
    .go-button {
        display: inline-flex;
        padding: 17px 13px 16px 22px;
        flex-direction: column;
        justify-content: center;
        margin-top: 60px;
    }
    .main-content {
        height: 3930px;
        width: 364px;
        gap: 18px;
    }
    .top-news {
        font-family: "Inria Sans";
    }
    .news {
        margin-top: 18px;
        height: 3884px;
        width: 364px;
        align-items: flex-start;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        box-sizing: border-box;
    }
    .news-1, .news-4 {
        height: 404px;
        width: 364px;
    }
    .news-2, .news-3, .news-5{
        height: 382px;
        width: 364px;
    }
    .news-6, .news-7{
        height: 360px;
        width: 364px;
    }
    .news-8{
        height: 338px;
        width: 364px;
        flex-wrap: wrap;
    }
    .news-9{
        height: 360px;
        width: 363px;
    }
    .news-1-image, .news-2-image {
        height: 180px;
        width: 364px;
    }
    .news-1-article {
        height: 66px;
        width: 360px;
    }
    .news-2-article, .news-6-article, .news-8-article, .news-8-article-content {
        height: 44px;
        width: 364px;
    }
    .news-3-article, .news-3-article-content {
        height: 66px;
        width: 364px;
    }
    .news-1-article-content {
        height: 88px;
        width: 361px;
    }
    .news-2-article-content, .news-4-article-content, .news-5-article-content {
        height: 88px;
        width: 364px;
    }
    .link-article {
        width: 22px;
    }
    
    .footer {
        height: 87px;
        width: 181px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid black;
    }
    .first 
    .responsibility {
        height: 66px;
        width: 181px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center; /* Ensure text is centered */
    }
}

